* {
  /* border: 1px solid black; */
  background-color: beige;
}

body {
  /* background-color: aqua;
  border: 1px solid red; */
}
h1 {
  color: red;
}

h1:hover {
  color: blue;
  opacity: 0.5;
  cursor: pointer;
}
li {
  list-style-type: none;
  color: fuchsia;
}
li:hover {
  font-weight: 800;
  cursor: pointer;
  color: blueviolet;
}
.list {
  border: 1px solid red;
}
